In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from tqdm import tqdm 
from keras.preprocessing import image
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense,Dropout,Flatten,Conv2D
#from keras.optimizers import Adam

df=pd.read_csv("C:\\Users\\DELL\\DOwnloads\\labels.csv",encoding="unicode_escape")

In [8]:
df.shape

(10222, 2)

In [9]:
df.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [10]:
breeds_all = df["breed"]
breed_counts = breeds_all.value_counts()
breed_counts.head()

scottish_deerhound      126
maltese_dog             117
afghan_hound            116
entlebucher             115
bernese_mountain_dog    114
Name: breed, dtype: int64

In [13]:
CLASS_NAME=['scottish_deerhound','maltese_dog','bernese_mountain_dog']
labels = df[(df['breed'].isin(CLASS_NAME))]
labels = labels.reset_index()
labels.head()

   index                                id                 breed
0      9  0042188c895a2f14ef64a918ed9c7b64    scottish_deerhound
1     12  00693b8bc2470375cc744a6391d397ec           maltese_dog
2     79  01e787576c003930f96c966f9c3e1d44    scottish_deerhound
3     90  022b34fd8734b39995a9f38a4f3e7b6b           maltese_dog
4    118  02d54f0dfb40038765e838459ae8c956  bernese_mountain_dog

In [ ]:
x_data = np.zeros((len(labels),224,224,3),dtype='float32')
y_data = label_binarize(df['breed'],classes = CLASS_NAME)

for i in tqdm(range(len(labels))):
    img = image.load_img('F:/courses/Data_Science_Masterclass/project_2/train/%s.jpg')
    img = image.img_to_array(img)
    x = np.expand_dims(img.copy(),axis= 0)
    x_data[i] = x/255.0
    
print('train image shape: ',x_data.shape,' size: {:,}'.format(x_data.size))
print('one hot encoded output shape: ',y_data.shape,' size{:,}'.format(y_data.size))

  0%|                                                                                          | 0/357 [00:00<?, ?it/s]