In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('csv_file/titanic_train.csv')
test = pd.read_csv('csv_file/titanic_test.csv')
op = pd.read_csv('csv_file/gender_submission.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train.shape

(891, 12)

In [8]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
train['Age'] = train['Age'].fillna(train['Age'].mean())

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
train['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [12]:
train['Cabin'] = train['Cabin'].fillna('x')
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])

In [13]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [14]:
train.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [15]:
training = train.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [1]:
x = training.iloc[:,1:8].values
y = training.iloc[:,1].values
x.shape,y.shape

NameError: name 'training' is not defined

In [17]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:

test['Age'] = test['Age'].fillna(test['Age'].mean())
test['Fare'] = test['Fare'].fillna(test['Fare'].mean())

In [19]:
test['Cabin'] = test['Cabin'].fillna('x')

In [20]:
test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [21]:
test.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [22]:

testing = test.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [23]:
x1 = testing.iloc[:,0:7].values

In [24]:
op.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [25]:
output = op['Survived'].values

In [26]:
output.shape

(418,)

In [27]:

x_train = x
x_test = x1
y_train = y
y_test = output

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
lg = LogisticRegression()

In [30]:
lg.fit(x_train,y_train)

C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
y_pred_lg = lg.predict(x_test)

In [32]:
from sklearn.metrics import accuracy_score
acc_lg = accuracy_score(y_test,y_pred_lg)
acc_lg

0.11961722488038277

In [33]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x, y)

GaussianNB()

In [34]:
y_pred_nb = gnb.predict(x1)

In [35]:
from sklearn import metrics

acc_gb = metrics.accuracy_score(y_test, y_pred_nb)*100
print("Gaussian Naive Bayes model accuracy(in %):",acc_gb)

Gaussian Naive Bayes model accuracy(in %): 11.961722488038278

In [36]:
from sklearn.ensemble import RandomForestClassifier
# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100)

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x, y)

# performing predictions on the test dataset
y_pred_rc = clf.predict(x_test)



# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL RANDOM FOREST: ", accuracy_score(y_test, y_pred_rc)*100)
acc_rc =accuracy_score(y_test, y_pred_rc)*100

ACCURACY OF THE MODEL RANDOM FOREST:  11.961722488038278

In [37]:

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
decision_tree = decision_tree.fit(x,y)

In [38]:
y_pred_dt = decision_tree.predict(x_test)

# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL Decision Tree: ", accuracy_score(y_test, y_pred_dt)*100)
acc_dt =accuracy_score(y_test, y_pred_dt)*100

ACCURACY OF THE MODEL Decision Tree:  11.961722488038278

In [39]:
from tabulate import tabulate
mydata = [
    ["KNN",acc1],
    ["Gaussian ",acc_gb],
    ["Random Forest",acc_rc],
    ["Decision Tree",acc_dt]
]
 
# create header
head = ["model","accuracy"]
 
# display table
print(tabulate(mydata, headers=head, tablefmt="grid"))

NameError: name 'acc1' is not defined